*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 10rem;
  overflow-y: hidden;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, roboto, "microsoft yahei", sans-serif;
}
/*弹出框相关*/
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55,55,55,.6);
  display: none;
}
.popup{
  width: 8rem;
  height: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 4rem);
  margin: auto;
  background-color: rgba(255,255,255,.95);
  font-size: 17px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.popup > *:nth-child(1) {
  flex-grow: 1;
  height: 2.5rem;
  vertical-align: middle;
  /*padding: calc((2.5rem - 34px) / 2) .2rem;*/
  padding: calc(1.25rem - 17px) .2rem;
}
.popup .button-group {
  display: flex;
  height: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.2);
}
.popup .button-group > * {
  flex-grow: 1;
  line-height: 1.5rem;
}
.popup .button-group .cancel {
  border-right: 1px solid rgba(0,0,0,.2);
}
.popup .button-group .ok {
  font-weight: bold;
  color: #515151;
}

.male,
.female {
  display: none;
  height: 100%;
}
.title {
  position: relative;
  left: calc(50% - 4.5rem);
  width: 9rem;
  top: .5rem;
}
[class^='content']:not(.content1) {
  display: none;
  top: 100%;
}
[class^='content'] {
  color: #fff;
  background-size: contain;
  background: no-repeat fixed center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
}

.male .content1 {
  /*background-image: url(images/male/1_bg.png);*/
  background-image: linear-gradient(-213deg, #EF8A8A 0%, #A12C55 100%);
}
.female .content1 {
  background-image: url(images/female/3_bg.png);
}
.female .content1 span {
  display: none;
}
.content1 {
  font-size: .64rem;
  text-align: center;
}
.content1 > *:nth-child(1) {
  margin-top: .2rem;
  width: 2.72rem;
  background: #F6CD23;
  border-radius: .32rem;
  display: inline-block;
}
.content1 > *:nth-child(2) {
  width: 10rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.content1 > *:nth-child(3) {
  position: absolute;
  bottom: .1rem;
  left: calc(50% - 4.5rem);
  width: 9rem;
}

.male .content2 {
  background-image: linear-gradient(-213deg, #EF8A8A 0%, #A12C55 100%);
}
.female .content2 {
  background-image: url(images/female/3_bg.png);
}
.content2 > div {
  margin-top: .2rem; 
}
.content2 > div > * {
  position: relative;
}
.male .content2 > div > *:nth-child(1) {
  width: 3.2rem;
  height: 4.88rem;
  left: 1.1rem;
}
.male .content2 > div > *:nth-child(2) {
  width: 3.8rem;
  height: 5.14rem;
  right: -1.9rem;
  top: 50px;
}
.male .content2 > div > *:nth-child(3) {
  width: 4.64rem;
  height: 6.2rem;
  left: .7rem;
  top: -30px;
}
.male .content2 > div > *:nth-child(4) {
  width: 4.19rem;
  height: 5.98rem;
  right: .24rem;
  top: 25px;
}
.female .content2 > div > *:nth-child(1) {
  width: 3.7rem;
  height: 4.88rem;
  left: .9rem;
}
.female .content2 > div > *:nth-child(2) {
  width: 3.85rem;
  height: 5.14rem;
  right: -1.6rem;
  top: 50px;
}
.female .content2 > div > *:nth-child(3) {
  width: 3.7rem;
  height: 5.8rem;
  left: 1rem;
  top: -30px;
}
.female .content2 > div > *:nth-child(4) {
  width: 3.85rem;
  height: 5.98rem;
  right: -1.76rem;
  top: 25px;
}

.male .content3 {
  /*background-image: url(images/male/3_bg.png);*/
  background-image: linear-gradient(-213deg, #EF8A8A 0%, #A12C55 100%);
}
.female .content3 {
  background-image: url(images/female/3_bg.png);
}
.content3 > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1rem;
}
.content3 > div > * {
  width: 4rem;
  margin-top: .5rem;
}

.male .content4 {
  /*background-image: url(images/male/4_bg.png);*/
  background-image: linear-gradient(-213deg, #EF8A8A 0%, #A12C55 100%);
}
.female .content4 {
  background-image: url(images/female/3_bg.png);
}
.content4 > div > * {
  position: relative;
}
.content4 > div > *:nth-child(1) {
  width: 4.5rem;
  left: 1rem;
}
.male .content4 > div > *:nth-child(2) {
  width: 4.8rem;
  top: 2.5rem;
}
.female .content4 > div > *:nth-child(2) {
  width: 4.3rem;
  top: 3rem;
}
.content4 > div > *:nth-child(3) {
  width: 4.4rem;
  left: .5rem;
  top: 1rem;
}
.content4 > div > *:nth-child(4) {
  width: 4rem;
  right: .3rem;
  top: 4rem;
}

.male .content5 {
  background-image: url(images/male/5_bg.png);
}
.female .content5 {
  background-image: url(images/female/3_bg.png);
}
.content5 {
  font-size: 20px;
}
.content5 > div {
  position: absolute;
  top: 3rem;
  bottom: .5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: space-around;
}
.content5 > div > img {
  width: 4rem;
}
.content5 .last-topic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
}
.content5 .last-topic > div {
  border-bottom: 1px solid;
  width: 2.5rem;
}

.male .content6 {
  /*background-image: url(images/male/6_bg.png);*/
  background-image: linear-gradient(-213deg, #EF8A8A 0%, #A12C55 100%);
}
.female .content6 {
  background-image: url(images/female/3_bg.png);
}
.content6 {
  font-family: AaWanWan;
  font-size: 36px;
  text-shadow: 0 2px 8px #9D0D25;
}
.content6 > div {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 6rem;
  text-align: center;
}

.male .content7 {
  background-image: linear-gradient(-213deg, #929FFF 0%, #BA2458 100%);
}
.female .content7 {
  background-image: linear-gradient(-213deg, #78C9E8 0%, #28939F 100%);
}
.content7 {
  font-size: 24px;
  text-align: center;
}
.content7 > *:nth-child(1) {
  padding-top: 1rem;
}
.content7 > *:nth-child(2) {
  margin-top: .3rem;
  font-size: 14px;
}
.content7 > *:nth-child(3) {
  width: .35rem;
  border: .35rem solid transparent;
  border-top-color: #fff;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: .6rem;
}
.content7 .recd {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: .5rem .1rem auto .1rem;
}
.content7 .recd > * {
  width: 3rem;
  position: relative;
}
.content7 .recd .user {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 7px;
  display: flex;
  flex-flow: column;
  height: 4.67rem;
  width: 100%;
}
.content7 .recd .img {
  width: 100%;
  height: 3.67rem;
  background-size: auto 100%;
}
.content7 .user-info {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #AC4381;
  height: calc(4.67rem - 3.67rem - 16px);
  line-height: calc(4.67rem - 3.67rem - 16px);
}
.content7 .chat {
  font-size: 14px;
  padding: 2px;
  background-color: #FFEEA9;
  color: #D06301;
  border-radius: 9px;
  margin-bottom: 5px;
}
.content7 .recd .close .chat {
  display: none;
}
.content7 .recd .close .user {
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
.content7 .recd .close img {
  width: 100%;
  height: 4.67rem;
  margin-bottom: 28px;
}
.content7 .recd .open .user {
  position: absolute;
  top: 0;
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transition: transform 500ms ease-in-out;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
}
.content7 .recd .open img {
  width: 100%;
  height: 4.67rem;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transition: transform 500ms ease-in-out;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
}

/*进度条相关*/
.progress {
  position: relative;
  /*top: calc((6rem - 36px - .7rem - .7rem - .27rem) / 2);*/
  top: calc(2.165rem - 18px);
  margin: auto;
  width: 9rem;
}
.indicate {
  height: .7rem;
  border: 3px white solid;
  border-radius: .35rem;
  background: #BC3251;
}
.indicate div {
  background-image: linear-gradient(-222deg, #F45B2F 14%, #FFF17B 100%);
  height: 100%;
  /*width: 72%;*/
  border-radius: .35rem;
}
.indicate-number {
  font-size: .37rem;
  background-color: white;
  color: #C82E4A;
  width: 1.2rem;
  height: .7rem;
  line-height: .7rem;
  margin-bottom: .27rem;
  position: relative;
  /*left: calc(72% - .6rem);*/
}
.indicate-number > div {
  border: .24rem solid transparent;
  border-top-color: #fff;
  display: inline-block;
  content: "";
}

/*页面过渡动画*/
.disppear {
  top: -100% !important;
  transition: top 500ms ease-in-out;
  -webkit-transition: top 500ms;
}
.show {
  top: 0 !important;
  transition: top 500ms ease-in-out;
  -webkit-transition: top 500ms;
}

/*卡片抖动效果*/
.shake {
  -webkit-animation: 500ms ease-in-out 0s running;
  -webkit-animation-name: shake;
  animation: 500ms ease-in-out 0s running;
  animation-name: shake;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }
  2% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(-1.5deg)
  }
  4% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }
  8% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }
  10% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(0.5deg)
  }
  12% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }
  14% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }
  16% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }
  18% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }
  20% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }
  22% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }
  24% {
    -webkit-transform: translate(-2.5px, 1.5px) rotate(-1.5deg)
  }
  26% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }
  28% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg)
  }
  30% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg)
  }
  32% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }
  34% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(0.5deg)
  }
  36% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg)
  }
  38% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg)
  }
  40% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }
  42% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-1.5deg)
  }
  44% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg)
  }
  46% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg)
  }
  48% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg)
  }
  50% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }
  52% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }
  54% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }
  56% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg)
  }
  58% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }
  60% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg)
  }
  62% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }
  64% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg)
  }
  66% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }
  68% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg)
  }
  70% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg)
  }
  72% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }
  74% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }
  76% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(0.5deg)
  }
  78% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(-0.5deg)
  }
  80% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg)
  }
  82% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-0.5deg)
  }
  84% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-1.5deg)
  }
  86% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }
  88% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }
  90% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-1.5deg)
  }
  92% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg)
  }
  94% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }
  96% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }
  98% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg)
  }
  2% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg)
  }
  4% {
    transform: translate(-2.5px, -1.5px) rotate(-1.5deg)
  }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(-1.5deg)
  }
  8% {
    transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }
  10% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg)
  }
  12% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg)
  }
  14% {
    transform: translate(-0.5px, 0.5px) rotate(-1.5deg)
  }
  16% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg)
  }
  18% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }
  20% {
    transform: translate(-2.5px, 0.5px) rotate(0.5deg)
  }
  22% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }
  24% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg)
  }
  26% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg)
  }
  28% {
    transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }
  30% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }
  32% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }
  34% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }
  36% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg)
  }
  38% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg)
  }
  40% {
    transform: translate(0.5px, -2.5px) rotate(-0.5deg)
  }
  42% {
    transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }
  44% {
    transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }
  46% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg)
  }
  48% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg)
  }
  50% {
    transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }
  52% {
    transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }
  54% {
    transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }
  56% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }
  58% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg)
  }
  60% {
    transform: translate(0.5px, -2.5px) rotate(0.5deg)
  }
  62% {
    transform: translate(1.5px, -2.5px) rotate(0.5deg)
  }
  64% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }
  66% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg)
  }
  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg)
  }
  70% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }
  72% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }
  74% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg)
  }
  76% {
    transform: translate(1.5px, 1.5px) rotate(-1.5deg)
  }
  78% {
    transform: translate(-2.5px, -1.5px) rotate(-1.5deg)
  }
  80% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }
  82% {
    transform: translate(-2.5px, -1.5px) rotate(0.5deg)
  }
  84% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg)
  }
  86% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }
  88% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg)
  }
  90% {
    transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }
  92% {
    transform: translate(0.5px, 0.5px) rotate(-1.5deg)
  }
  94% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }
  96% {
    transform: translate(-1.5px, -1.5px) rotate(-1.5deg)
  }
  98% {
    transform: translate(-2.5px, -0.5px) rotate(-1.5deg)
  }
}
