*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 10rem;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, roboto, "microsoft yahei", sans-serif;
}

img {
  max-width: 100%;
}
