<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>魅力榜</title>
  <link rel="stylesheet" href="style.css">
  <script src="../flexible.js"></script>
  <script src="../promise.min.js"></script>
  <script src="../vue.min.js"></script>
  <script src="../axios.min.js"></script>
  <script src="../axios.config.js"></script>
  <script src="../appSDK.js"></script>
</head>

<body>
  <div id="app">
    <div class="rank">
      <template v-for="(item,index) in list">
        <div v-if="index<3" class="rankitem" @click="gotoUserDetail(item)">
          <div class="avatar" :style="{ 'background-image': 'url(' + item.avatar + ')' }">
            <img class="attestation" src="./img/attestation.png" alt="">
          </div>
          <div class="userinfo">
            <span class="nickname">{{item.nickname}}</span>
            <span class="local">
              <img src="./img/place_out@2x.png" alt="">{{item.city}}
            </span>
          </div>
          <div class="charm">
            魅力值<span class="charm_value">{{item.amount/10}}</span>
          </div>
          <div class="gift">
            <span v-for="gift in item.giftList" class="gift-item">
              <img :src="gift.giftImage" alt="">x{{gift.giftNum}}
            </span>
          </div>
          <div class="top">
            <img v-if="index==0" src="./img/top1_sp@2x.png" alt="">
            <img v-else-if="index==1" src="./img/top2_sp@2x.png" alt="">
            <img v-else-if="index==2" src="./img/top3_sp@2x.png" alt="">
          </div>
        </div>
        <div v-else class="rankitem2" @click="gotoUserDetail(item)">
          <div class="top-text">
            TOP.<span>{{index+1}}</span>
          </div>
          <div class="rankitem2-avatar" :style="{ 'background-image': 'url(' + item.avatar + ')' }">
            <img class="attestation" src="./img/attestation.png" alt="">
          </div>
          <div class="rank-item2-info">
            <div class="nickname">{{item.nickname}}</div>
            <div class="local">
              <img src="./img/place_out@2x.png" alt="">{{item.city}}
            </div>
          </div>
          <div class="charm">
            魅力值
            <div class="charm_value">{{item.amount/10}}</div>
          </div>
        </div>
      </template>
    </div>
  </div>
  <script>
    (function () {
      var app = new Vue({
        el: '#app',
        data: {
          list: [],
        },
        methods: {
          gotoUserDetail: function (item) {
            if (item.gender == appSDK.param.role) {
              // 异性才能查看详情
              // appSDK.gotoUserDetail(item.accountId, item.nickname)
            }
          },
          getData: function () {
            axios.get('user.jhd.rankingList.charm', {
              params: {
                command: {
                  pageSize: 10,
                  pageIndex: 1,
                }
              }
            }).then(function (res) {
              app.list = res.data.data.data
            })
          },
        },
        mounted: function () {
          this.getData()
          setTimeout(function () {
            this.getData()
          }.bind(), 1000 * 60 * 10) // 10 分钟刷新
        }
      })
    })()
  </script>
</body>

</html>