@mixin titlePseudo() {
  content: ' ';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #F06B51;
  display: inline-block;
}

@mixin absuluteCenter() {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
